.point {
    cursor: pointer;
}

.point:hover {
    color: blue;
}

table tbody.tableBody {
    overflow-y: scroll;
    max-height: 30vh !important;
}

.prod-image {
    min-height: 100px;
    max-height: 100px;
}