.filter-button:hover {
    -webkit-text-fill-color: white !important;
}

lightning-input {
    --slds-c-input-color-background: #000066 !important;
}

.container {
    cursor: pointer;
}

.container:hover {
    background-color: #f2f2f2;
}