.pricebookContainer {
    cursor: pointer;
}

.pricebookContainer:hover {
    background-color: #f2f2f2;
}

.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}

.axis-grid line {
    stroke: #def;
}

.create-modal-container {
    max-width: 40rem !important;
    width: 40% !important;
}